---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import { Picture } from "@astrojs/image/components";
import Button from "../components/Button.astro";
import Belt from "../components/Belt.vue";

const meta = {
  title: "Welcome to Astro.",
  description: "This is description",
};

const newspapers = [
  {
    link: "https://www.lefigaro.fr/services/aleo-l-agence-web-n01-dans-la-creation-de-sites-internet-pour-les-tpe-pme-20210716",
    src: "/img/logo-figaro.svg",
    alt: "logo figaro",
  },
  {
    link: "https://www.bfmtv.com/economie/professionnels/aleo-l-agence-de-communication-pour-tpe-pme-qui-va-propulser-votre-activite_AN-202107290333.html",
    src: "/img/logo-bfm.svg",
    alt: "logo bfm",
  },
  {
    link: "https://www.challenges.fr/entreprise/aleo-l-agence-de-communication-100-dediee-aux-tpe-pme_773971",
    src: "/img/logo-challenges.svg",
    alt: "logo challenges",
  },
  {
    link: "https://www.latribune.fr/supplement/comment-l-agence-web-aleo-souhaite-booster-la-presence-en-ligne-des-tpe-pme-890514.html",
    src: "/img/logo-la-tribune.svg",
    alt: "logo la tribune",
  },
  {
    link: "https://www.forbes.fr/brandvoice/10000-entreprises-conquises-pour-aleo-lagence-web-n1-des-tpe-pme/",
    src: "/img/logo-forbes.svg",
    alt: "logo forbes",
  },
];

const activities = [
  {
    link: "/site-internet",
    emoji: "/img/emojis/emoji-laptop.png",
    label: "Créer ton site web",
    alt: "emoji laptop",
  },
  {
    link: "/",
    emoji: "/img/emojis/emoji-megaphone.png",
    label: "Conquérir plus de clients",
    alt: "emoji megaphone",
  },
  {
    link: "/",
    emoji: "/img/emojis/emoji-hearts.png",
    label: "Développer tes réseaux sociaux",
    alt: "emoji hearts",
  },
  {
    link: "/",
    emoji: "/img/emojis/emoji-pen.png",
    label: "Améliorer ton image",
    alt: "emoji pen",
  },
  {
    link: "/",
    emoji: "/img/emojis/emoji-chat.png",
    label: "Échanger gratuitement avec nos experts",
    alt: "emoji chat",
  },
];

const newspapersTwice = newspapers.concat(newspapers);
---

<Layout description={meta.description} title={meta.title}>
  <section class="section section-hero w-full bg-primary-500">
    <div class="container relative">
      <Header />

      <div class="row">
        <div class="grid grid-cols-12">
          <div class="col-span-6 relative pb-[100px]">
            <div class="mt-52">
              <h1
                class="uppercase text-xs font-extrabold tracking-[0.12em] text-white"
              >
                L'agence de communication des Pros
              </h1>
              <h2
                class="mt-4 italic font-black text-[55px] leading-[105%] text-white"
              >
                ALEO, la communication enfin accessible à toutes les entreprises
                !
              </h2>
              <Button
                class="mt-8"
                variant="btn-tertiary-white"
                text="Prend rendez-vous gratuitement"
              />
            </div>
            <div
              class="wrapper-see-videos w-fit-content absolute bottom-0 right-0 translate-y-1/2"
            >
              <div class="relative">
                <img
                  class="camera-video absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
                  src="/img/icon-camera.svg"
                  alt="icone camera"
                  width={68}
                  height={68}
                /><img
                  class="circle-videos"
                  src="/img/circle-voir-videos.svg"
                  alt="cercle voir vidéos"
                  width={156}
                  height={156}
                />
              </div>
            </div>
          </div>
          <div class="col-span-6 relative">
            <Picture
              class="absolute -bottom-32"
              src="/img/denis-hero-home.png"
              widths={[745, 1490]}
              aspectRatio="1490:1384"
              height={720}
              width={669}
              sizes="(max-width:1536px) 600px, 745px"
              alt="Denis Brognart Hero"
              loading="eager"
            />
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- SECTION ACTIVITE -->

  <section class="section section-activite py-32 rounded-b-[80px]">
    <div class="row">
      <div
        class="container wrapper-talk-about pt-12 pb-[68px] rounded-t-[48px] overflow-hidden"
      >
        <p
          class="font-extrabold text-sm text-center uppercase text-accent-700 tracking-[0.08em]"
        >
          Ils parlent de nous
        </p>
        <ul class="flex gap-6 mt-7 marquee">
          {
            newspapersTwice.map((item) => (
              <li class="flex-shrink-0">
                <a href={item.link} target="_blank">
                  <img src={item.src} alt={item.alt} width={248} height={100} />
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>

    <div class="row mt-20">
      <div class="container">
        <p
          class="font-extrabold text-sm text-center uppercase text-accent-700 tracking-[0.08em]"
        >
          POUR BOOSTER TON ACTIVITÉ, TU PEUX :
        </p>
        <div
          class="flex flex-wrap justify-center max-w-[850px] mx-auto gap-4 mt-10"
        >
          {
            activities.map((activity) => (
              <div class="group">
                <a
                  class="flex items-center bg-accent-100 py-6 px-8 rounded-2xl gap-4 transition-[background-color] duration-300 group-hover:bg-purple-brand"
                  href={activity.link}
                >
                  <img
                    src={activity.emoji}
                    alt={activity.alt}
                    width={32}
                    height={32}
                  />
                  <h3 class="italic font-black text-purple-brand text-2xl transition-[color] duration-300 group-hover:text-accent-500">
                    {" "}
                    {activity.label}{" "}
                  </h3>
                </a>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </section>

  <!-- SECTION DECOLLAGE -->

  <section
    class="section section-decollage bg-purple-brand pt-40 pb-[1120px] overflow-hidden"
  >
    <div class="row">
      <div class="container">
        <div class="grid grid-cols-12">
          <div class="col-span-5 col-start-2">
            <p
              class="text-accent-200 font-extrabold text-xs uppercase tracking-[0.12em]"
            >
              3, 2, 1 ... DÉCOLLAGE
            </p>
            <h2
              class="mt-4 italic font-black text-5xl text-accent-500 leading-[108%]"
            >
              À partir de <span class="text-white">
                49 € <sup>HT/mois</sup>
              </span>
              et sans engagement
            </h2>
            <div class="mt-4">
              <p class="font-medium text-lg text-accent-200 leading-[156%]">
                Indépendant, petite ou moyenne entreprise, découvre ALEO,
                l’offre qui va révolutionner la manière dont tu fais ta pub.
              </p>
              <p
                class="mt-2 font-medium text-lg text-accent-200 leading-[156%]"
              >
                Des solutions digitales, professionnelles et clés en main pour
                booster ton activité.
              </p>
              <p
                class="mt-2 font-medium text-lg text-accent-200 leading-[156%]"
              >
                Attache ta ceinture !
              </p>
            </div>
            <Belt client:visible />
          </div>
          <div class="col-span-6 relative">
            <Picture
              class="absolute right-[-120px]"
              src="/img/visuel-decollage.png"
              widths={[775, 1550]}
              aspectRatio="1550:1016"
              height={553}
              width={775}
              sizes="(max-width:1536px) 600px, 775px"
              alt="Mockup science de la beauté"
            />
          </div>
        </div>
      </div>
    </div>
  </section>

  <style lang="postcss">
    .section-hero {
      border-radius: 0 0 368px 0;
      background-image: url("/img/bg-distorsion-home.svg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;

      &::after {
        content: "";
        width: 86px;
        aspect-ratio: 1;
        background-image: url("/img/corner-home.svg");
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateY(100%);
      }
    }

    .circle-videos {
      transition-duration: 0.3s;
      transition-timing-function: cubic-bezier(0.5, 3, 0, 0.5);
      transform-origin: center;
    }

    .camera-video {
      transition-duration: 0.3s;
      transition-timing-function: cubic-bezier(0.5, 3, 0, 0.5);
      transition-delay: 50ms;
    }

    .wrapper-see-videos {
      &:hover {
        & .circle-videos {
          scale: 1.2;
        }

        & .camera-video {
          transform: translate(-50%, -50%) scale(1.2) rotate(-15deg);
        }
      }
    }

    .circle-videos {
      animation: rotation 8s infinite linear forwards;
    }

    @keyframes rotation {
      from {
        transform: rotate(0);
      }

      to {
        transform: rotate(-360deg);
      }
    }

    .wrapper-talk-about {
      background: linear-gradient(
          180deg,
          #f4faff 0%,
          rgba(244, 250, 255, 0) 100%
        ),
        #ffffff;
      box-shadow: 0px -20px 40px rgba(162, 204, 238, 0.4);
    }

    .marquee {
      animation: scroll 8s infinite linear;
    }

    @keyframes scroll {
      from {
        transform: translateX(0);
      }

      to {
        transform: translateX(-100%);
      }
    }
  </style>
</Layout>
